:root {
    --main-color: #FF4601;
    --sub-color: #1E1E1E;
    --w-color: #fff;
    --b-color: #000;
    --p-80: 80px;
    --transition-3: 0.3s ease;
    --transition-5: 0.5s ease;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cairo", sans-serif;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--sub-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img {
    display: inline-block;
}

.btn {
    position: relative;
    background-color: var(--main-color);
    padding: 10px 20px 10px 10px;
    text-transform: capitalize;
    width: fit-content;
    color: var(--w-color);
    font-size: 20px;
    text-transform: capitalize;
    transform: skewX(-20deg);
}

.btn span {
    display: block;
    transform: skewX(20deg);
}

.btn::after {
    content: "";
    position: absolute;
    right: -4px;
    bottom: -0.5px;
    width: 15px;
    height: 95%;
    background-color: #ff450160;
    transform: skewX(10deg);
    transition: var(--transition-3);
}
.btn::before {
    content: "";
    position: absolute;
    left: -10px;
    z-index: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: var(--main-color);
    transform: skewX(20deg);
    transition: var(--transition-3);
}

.header_container {
    text-align: center;
    max-width: 500px;
    margin: 0 auto 50px;
    padding-inline: 15px;
}

.header_container h2 {
    color: var(--w-color);
    font-size: 35px;
    margin-bottom: 10px;
}

.header_container p {
    color: var(--w-color);
    font-size: 18px;
    line-height: 1.6;
}

.container {
    padding-inline: 15px;
    margin-inline: auto;
}

@media (min-width: 786px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 991px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1199px) {
    .container {
        width: 1160px;
    }
}

/* loading */
.loading {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--sub-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading svg {
    font-size: 100px;
    color: var(--main-color);
    animation: loading 2s linear infinite;
}

@keyframes loading {
    100% {
        rotate: 360deg;
    }
}

/* loading */
/* Start Header */
.header {
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
    left: 0;
    padding-block: 10px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.header .container .logo {
    flex: 1;
}

.header .container .logo a {
    flex: 1;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
}

.navbar {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    z-index: 9;
}

.navbar .list_nav {
    display: flex;
    gap: 15px;
}

.navbar .list_nav a {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    color: var(--w-color);
    transition: var(--transition-3);
    position: relative;
}

.navbar .list_nav a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    transition: var(--transition-3);
}

.navbar .list_nav a:hover::before {
    width: 100%;
}

.navbar .close_nav {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    border: 1px solid var(--main-color);
    padding: 5px;
    background-color: transparent;
    border-radius: 100px;
}

.navbar .close_nav svg {
    font-size: px;
    color: var(--w-color);
    width: 30px;
    height: 30px;
}

.open_nav {
    border: 1px solid var(--main-color);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.open_nav span {
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 100px;
    background-color: var(--w-color);
}

.open_nav span:nth-child(2) {
    width: 35px;
}

.open_nav span:not(.open_nav span:last-child) {
    margin-bottom: 3px;
}

.open_nav,
.close_nav {
    display: none;
}

@media (max-width: 750px) {

    .open_nav,
    .close_nav {
        display: block;
    }

    .navbar {
        padding: 50px 25px;
        position: fixed;
        left: -100%;
        top: 54px;
        min-height: calc(100vh - 55px);
        width: 80%;
        background-color: #1e1e1e;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        transition: var(--transition-5);
    }

    .navbar .list_nav {
        flex-direction: column;
        gap: 30px;
    }

    .navbar .list_nav a::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        height: 0;
        width: 3px;
        background-color: var(--main-color);
        transition: var(--transition-3);
    }

    .navbar .list_nav a:hover::before {
        width: 3px;
        height: 200%;
    }

    .navbar .list_nav a:hover {
        transform: translateX(10px);
    }
}

/* End Header */

/* Start Landding */
.landding {
    width: 100%;
    min-height: 100vh;
    background-image: url("../Images/bg-landding.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.landding .container {
    padding-top: 100px;
    min-height: calc(100vh - 100px);
    color: var(--w-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landding .container .content {
    max-width: 600px;
}

.landding .container .content h2 {
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.6;
    margin-bottom: 30px;
    color: var(--w-color);
    font-family: 'Orbitron', sans-serif;
}

.landding .container .content h2 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
}

.landding .container .content p {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .landding .container .content h2 {
        font-size: 45px;
    }
}

/* End Landding */

/* Start Moves */
.moves {
    background-color: var(--sub-color);
    padding-block: var(--p-80);
}

.moves .container .boxs {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.moves .container .boxs .box {
    position: relative;
    border-top-left-radius: 50px;
    overflow: hidden;
}

.moves .container .boxs .box:nth-child(1) {
    flex: 3;
    border-top-left-radius: 100px;
}

.moves .container .boxs .box img {
    width: 100%;
    height: 100%;
}

.moves .container .boxs .box>h2 {
    position: absolute;
    bottom: 15px;
    left: 50px;
    line-height: 1.6;
    color: var(--w-color);
    text-transform: capitalize;
    font-weight: 400;
}

.moves .container .boxs .box .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.moves .container .boxs .box .title h2 {
    line-height: 1.6;
    color: var(--w-color);
    text-transform: uppercase;
    font-weight: 400;
}

.moves .container .boxs .box .title p {
    line-height: 1.6;
    color: var(--w-color);
    font-size: 16px;
}

@media (max-width: 992px) {
    .moves .container .boxs {
        flex-direction: column;
        align-items: center;
        gap: 50;
    }

    .moves .container .boxs .box:not(.moves .container .boxs .box:first-child) {
        height: 400px;
        max-width: 250px;
    }

    .moves .container .boxs .box .title {
        flex-direction: column;
        text-align: center;
    }
}

/* End Moves */
/* Start lifeStyle */
.lifestyle {
    background-color: var(--sub-color);
    padding-block: var(--p-80);
}

.lifestyle .container {
    position: relative;
}

.lifestyle .container::before {
    content: "";
    position: absolute;
    bottom: 130px;
    right: 0;
    width: 15%;
    height: 60px;
    background-color: #ff450160;
}

.lifestyle .container::after {
    content: "";
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 20%;
    height: 60px;
    background-color: #ff450160;
}

.lifestyle .image {
    width: 450px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.lifestyle .image::before {
    content: "";
    position: absolute;
    z-index: 2;
    right: -7px;
    bottom: 0;
    height: 65%;
    width: 7px;
    background-color: var(--main-color);
    border-top-right-radius: 30px;
}

.lifestyle .image::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: -7px;
    bottom: 0;
    height: 45%;
    width: 7px;
    background-color: var(--main-color);
    border-top-left-radius: 30px;
}

.lifestyle .image img {
    display: block;
    width: 100%;
    margin: auto;
    border-bottom: 7px solid var(--main-color);
}


@media (max-width: 850px) {
    .lifestyle .image {
        width: 80%;
    }
}

/* End lifeStyle */

/* Start Classes */
.classes {
    background-image: url(../Images/bg-classes.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: var(--p-80);
}
.classes .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    text-transform: capitalize;
}
.classes .container .box .iamge {
    margin-bottom: 30px;
    position: relative;
} 
.classes .container .box .iamge::before {
    content: "";
    position: absolute;
    z-index: 2;
    right: -7px;
    bottom: 0;
    height: 65%;
    width: 7px;
    background-color: var(--main-color);
    border-top-right-radius: 30px;
}
.classes .container .box .iamge::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: -7px;
    bottom: 0;
    height: 45%;
    width: 7px;
    background-color: var(--main-color);
    border-top-left-radius: 30px;
}
.classes .container .box .iamge img {
    display: block;
    border-bottom: 7px solid var(--main-color);
    width: 100%;
} 
.classes .container .box .name_classe,
.classes .container .box .time_classe,
.classes .container .box .time_classe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.classes .container .box .name_classe .name,
.classes .container .box .student_number,
.classes .container .box .time_classe .time {
    display: flex;
    align-items: center;
}
.classes .container .box .name_classe .name svg {
    color: var(--main-color);
    margin-right: 10px;
    font-size: 10px;
}
.classes .container .box .name_classe .name h2, 
.classes .container .box .student_number h2,
.classes .container .box .time_classe .time h2{
    color: var(--w-color);
    font-size: 16px;
    font-weight: 400;
}
.classes .container .box .student_number svg,
.classes .container .box .time_classe .time svg {
    color: var(--w-color);
    margin-right: 10px;
}
.classes .container .box .time_classe {
    display: flex;
    align-items: center;
}
.classes .container .box .time_classe h2 {
    color: var(--w-color);
    font-size: 24px;
    font-weight: 600;
}
.classes .container .box ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.classes .container .box ul li svg {
    margin-right: 10px;
    color: var(--w-color);
    font-size: 10px;
}
.classes .container .box ul li {
    color: var(--w-color);
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.classes .container .box ul li:first-child {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
}
.classes .container .box .links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
} 
.classes .container .box .links a {
    color: var(--w-color);
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    transform: skewX(-20deg);
    border: 1px solid var(--w-color);
    text-align: center;
}
.classes .container .box .links a:first-child {
    border: none;
    background-color: var(--main-color);
}
.classes .container .box .links a span {
    display: block;
    transform: skewX(20deg);
}
@media (max-width: 450px) {
    .classes .container .box .links a {
        font-size: 14px;
    }
    .classes .container {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}
/* End Classes */
/* Start Instructors */
.instructors {
    padding-block: var(--p-80);
}
.instructors .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    text-transform: capitalize;
    text-align: center;
}
.instructors .container .box img {
    margin-bottom: 20px;
    width: 100%;
}
.instructors .container .box h2 {
    font-size: 22px;
    font-weight: 600;
    color: var(--w-color);
    margin-bottom: 10px;
}
.instructors .container .box p {
    color: var(--w-color);
    font-size: 16px;
}
/* End Instructors */
/* Start Mobile App */
.mobile_app {
    padding-block: 30px;
    background-color: var(--main-color);
    
}

.mobile_app .container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    text-transform: capitalize;
}
.mobile_app .container .content {
    max-width: 520px;
}
.mobile_app .container .content > h2 {
    color: var(--w-color);
    font-size: 40px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.mobile_app .container .content > p {
    font-size: 16px;
    color: var(--w-color);
    line-height: 1.6;
    margin-bottom: 20px;
}
.mobile_app .container .content .download_app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.mobile_app .container .content .download_app  a > section{
    background-color: var(--b-color);
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
    color: var(--w-color);
}
.mobile_app .container .content .download_app a img {
    width: 30px;
}
.mobile_app .container .content .download_app a .title p {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.mobile_app .container .content .download_app a .title h2 {
    font-size: 20px;
    font-weight: 800;
}
.mobile_app .container .content .download_app a svg {
    font-size: 40px;
}
@media (max-width: 995px) {
    .mobile_app .container {
        flex-direction: column-reverse;
        text-align: center;
    }
    .mobile_app .container .content .download_app {
        justify-content: center;
    }
    .mobile_app .container .content .download_app a .title h2 {
        font-size: 12px;
    }
    .mobile_app .container .content .download_app a .title p {
        font-size: 10px;
        line-height: 1.6;
    }
    .mobile_app .container img {
        max-width: 300px;
        width: 100%;
    }
}
/* Start Mobile App */
/* Start Video */
.video {
    padding-top: var(--p-80);
}
.video .container .image {
    position: relative;
}
.video .container .image img {
    width: 100%;
}
.video .container .image .play_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.video .container .image .play_video img {
    width: 100%;
    height: 100%;
    padding: 15px;
    border: 1px solid var(--w-color);
    border-radius: 10px;
    transition: var(--transition-3);
}
.video .container .image .play_video img:hover {
    background-color: #ffffff3e;
}
.video .container .image .video {
    position: absolute;
    height: 100%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0%;
    transition: var(--transition-3);
    overflow: hidden;
}
.video .container .image .video video {
    width: 100%;
    object-fit:cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.video .container .image .video svg {
    color: var(--main-color);
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border: 1px solid var(--w-color);
    border-radius: 10px;
    transition: var(--transition-3);
    cursor: pointer;
}
.video .container .image .video svg:hover {
    background-color: #ffffff3e;
}
@media (max-width : 786px) {
    .video .container .image .video svg {
        font-size: 16px;
        padding: 7px;
    }
}
/* End Video */
/* Start Feedback */
.feedback {
    padding-block: var(--p-80);
    background-image: url(../Images/bg-classes.png);
}
.feedback_user {
    max-width: 360px;
    background-color: #00000059;
    padding: 30px;
    border-bottom: 10px solid var(--main-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.feedback_user p {
    color: var(--w-color);
    line-height: 1.6;
    font-size: 20px;
    margin-bottom: 20px;
}
.feedback_user .stars {
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
}
.feedback_user .stars svg {
    font-size: 25px;
    color: var(--main-color);
    cursor: pointer;
}
.feedback_user .user {
    display: flex;
    align-items: center;
    gap: 10px;
}
.feedback_user .user img {
    width: 60px;
}
.feedback_user .user h2 {
    color: var(--w-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6;
}
/* End Feedback */
.swiper-slide-next,
.swiper-slide-active {
    display: flex;
    justify-content: center;
    padding-inline: 15px;
    margin-bottom: 50px;
}
@media (max-width: 1000px) {
    .feedback_user p {
        font-size: 14px;
    }
    .feedback_user .user h2 {
        font-size: 18px;
    }
    .feedback_user .stars svg {
        font-size: 18px;
        color: var(--main-color);
        cursor: pointer;
    }
}
@media (max-width: 650px) {
    
}


/* Start Question */
.asked_question {
    padding-block: var(--p-80);
}
.asked_question .container .box {
    margin-bottom: 20px;
}
.asked_question .container .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 5px;
    padding-left: 10px;
}
.asked_question .container .question::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--w-color);
}
.asked_question .container .question h2 {
    color: var(--w-color);
    font-size: 24px;
    line-height: 1.6;
    gap: 20px;
}

.asked_question .container .question > section {
    cursor: pointer;
    padding: 10px 10px 0;
    position: relative;
}
.asked_question .container .question > section svg {
    color: var(--w-color);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.asked_question .container .answer {
    background-color: #ff450160;
    transform: skewX(-10deg);
    margin: auto;
    width: 0;
}
.asked_question .container .answer p {
    color: var(--w-color);
    font-size: 18px;
    line-height: 1.6;
    display: none;
}
.asked_question .container .active {
    width: calc(85% - 20px);
    padding: 20px;
}
.asked_question .container .active p {
    display: block;
}
#openCloseAnswer {
    display: block;
}
@media (max-width: 786px) {
    .asked_question .container .answer {
        transform: skewX(0deg);
    }
}
/* End Question */












